<VirtualHost *:80>
    ServerAdmin webmaster@{{ webserver_dns }}
    ServerName {{ webserver_dns }}
    ServerAlias www.{{ webserver_dns }}
    DocumentRoot /var/www/{{ webserver_dns }}
    ErrorLog ${APACHE_LOG_DIR}/error.{{ webserver_dns }}.log
    CustomLog ${APACHE_LOG_DIR}/access.{{ webserver_dns }}.log combined
</VirtualHost>